.container {
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @include media(480) {
    max-width: 448px;
  }
  @include media(768) {
    max-width: 720px;
  }
  @include media(1200) {
    max-width: 1200px;
  }
}
