
.gallery {

        background-image: url(/src/images/backgroud_mob.jpg);

        @include retina {
            background-image: url(/src/images/backgroud_mob-2x.jpg);
        }
    

    @include tablet {
        background-image: url(/src/images/background-tab.jpg);

        @include retina {
            background-image: url(/src/images/background_tab-2x.jpg);
        }
    }

    @include desktop {
        background-image: url(/src/images/backgroud.jpg);

        @include retina {
            background-image: url(/src/images/backgroud-2x.jpg);
        }
    }

}

.gallery .container {
    
    padding-top: 180px;
    width: 100%;
    position: relative; 
    @include tablet {
    padding-top: 285px;
    }
    @include desktop {
    padding-top: 465px;
    }
    
}

.gallery__box {
    position: absolute;
    top: 0;
    left: 50%;


    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    
    max-width: 280px;

    transform: translate(-50%, -25%);

    @include tablet {
    transform: translate(-50%, -45%);
    max-width: 700px;
    }
    @include desktop {
    transform: translate(-50%, -25%);
    max-width: 1020px;
    }

}


.gallery__imag {
    width: 100%;

}

//---------- swiper-pagination--------

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    background-color: rgb(109, 141, 80);
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

// _____________customer-reviews______________



.customer-reviews__pre-wrap {

    padding-bottom: 390px;
    @include desktop {
    padding-bottom: 230px;
    }
}

.customer-reviews__wrap {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    
        @include tablet {
            padding-bottom: 60px;
        }
    
        @include desktop {
            padding-bottom: 70px;
        }
 }


.customer-reviews__item {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
   
}

.customer-reviews__text-box {
    margin: 0 auto;
    padding: 0 20;
    border-radius: 10px;
    background-color: var(--primery-background-color);
    max-width: 280px;
    
    @include tablet {
        max-width: 700px;
    }
    @include desktop {
        max-width: 970px;
    }


}




.customer-reviews__text {
text-align: center;
color: var(--light-text-color);
padding: 30px;
@include font (400, 12, 2.25, nole);


@include tablet {
padding: 30px 80px;
@include font (500, 14, 1.86, 0.04)
}

@include desktop {
padding: 40px 75px;
@include font (500, 16, 1.86, 0.04)
}
}

.customer-reviews__name {

    @include font (500, 20, 1.86, nole);

    @include tablet {
    @include font (500, 16, 1.86, nole)
    }
    @include desktop {
    @include font (500, 16, 1.86, nole)
    }
}





